$red-progress: #FE6093;
$yellow-progress: #FEAC60;
$green-progress: #59DBC1;

$media-first-step: 'only screen and (max-width: 1000px)';
$media-second-step: 'only screen and (max-width: 768px)';
$media-third-step: 'only screen and (max-width: 450px)';